@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

body {font-family: 'Paytone One', sans-serif;}

#tocMenu  li{
  border: none;
  background-color: transparent;
  outline: none;
  
}
                 
.fp-controlArrow.fp-prev {
        left: 22px;
        border-width: 20px 20px 20px 20px;
        color: transparent;
        border-color: transparent #303030 transparent transparent;
      }
      
.fp-controlArrow.fp-next {
        right: 22px;
        border-width: 20px 20px 20px 20px;
        color: transparent;
        border-color: transparent transparent transparent #303030;
      }
 